<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <h4>Products</h4>
        <ul class="list-unstyled">
          <li><a href="http://monitorr.io">Monitorr.io</a></li>
          <li><a href="http://monitorr.io/pricing/">Pricing</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-6">
        <h4>Documentation</h4>
        <ul class="list-unstyled">
          <li><a href="http://docs.monitorr.io/en/latest/quickstart.html">Quick Start</a></li>
          <li><a href="http://docs.monitorr.io/en/latest/users-guide/index.html">User's Guide</a></li>
          <li><a href="http://docs.monitorr.io/en/latest/tutorials/index.html">Tutorials</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-6">
        <h4>Contact</h4>
        <ul class="list-unstyled">
          <li><a href="mailto:support@monitorr.io">Support</a></li>
        </ul>
      </div>
    </div>
      <div class="row">
          <div class="col-md-12">
              &copy; 2017 <a href="https://www.linkedin.com/in/vasilelaur" target="_blank" alt="Vasile Laur">Vasile Laur</a>
          </div>
      </div>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92277817-1', 'auto');
  ga('send', 'pageview');

</script>
